@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B0914;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .font-display {
    font-family: var(--font-outfit), sans-serif;
  }

  .font-sans {
    font-family: var(--font-space-grotesk), sans-serif;
  }
}
